//- h1 Hola somos Arquitectura soft 
//- p desde PUG
//- p=viajes
extends ./layout/index

block contenido
     main.container.mt-5 
          .row           
               .col-md-5 
                    img(src="img/nosotros.jpg", alt="", class="img-fluid")
               .col-md-7
                    h1 #{pagina}
                    blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit sed sem eu tempor. Integer pharetra eros sem, sed commodo elit vestibulum ac. Proin leo leo, egestas at tortor et, fermentum tincidunt diam. Aenean leo justo, tincidunt ac maximus nec, tempor eu tellus. Fusce at dolor cursus, blandit ligula vitae, blandit dui. Curabitur egestas, quam nec pulvinar condimentum, metus nibh fringilla velit, ac vulputate sem lorem eget enim. 

                    p Duis ac orci scelerisque, vulputate dui et, iaculis diam. Morbi suscipit vulputate lectus in iaculis. In sem lacus, molestie eget turpis et, rutrum dignissim nunc. Vivamus id aliquet nibh. Vestibulum molestie varius risus, eget imperdiet magna imperdiet vitae. Maecenas nulla magna, eleifend vel arcu eu, dictum ornare mauris. Duis porta sed arcu id dignissim. 

                    p Sed bibendum nibh vitae tempor viverra. Nunc euismod nisl lorem, ullamcorper mattis elit bibendum sed. Nam consequat felis eget turpis ultrices scelerisque. Aenean vel auctor ipsum. Suspendisse mauris purus, dictum eget lectus nec, maximus ornare tellus. Nam in dignissim justo. Cras porta vitae mauris quis mattis. Praesent non magna quis dui consectetur placerat sit amet sit amet enim. 

     .listado-iconos
          .container.mt-5.py-5.text-center 
               .row 
                    .col-md-4
                         img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                         h2.mb-4 Seguridad
                         p Vestibulum molestie varius risus, eget imperdiet magna imperdiet vitae. Maecenas nulla magna, eleifend vel arcu eu, dictum ornare mauris. Duis porta sed arcu id dignissim. Praesent pellentesque, elit et volutpat lacinia, augue massa suscipit felis, in euismod dui magna sed lorem.
                    
                    .col-md-4
                         img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                         h2.mb-4 Destinos Recomendados
                         p Vestibulum molestie varius risus, eget imperdiet magna imperdiet vitae. Maecenas nulla magna, eleifend vel arcu eu, dictum ornare mauris. Duis porta sed arcu id dignissim. Praesent pellentesque, elit et volutpat lacinia, augue massa suscipit felis, in euismod dui magna sed lorem.
                    
                    .col-md-4
                         img(src="img/icono_precios.svg", alt="icono seguridad", class="img-fluid mb-4")
                         h2.mb-4 Los Mejores Precios
                         p Vestibulum molestie varius risus, eget imperdiet magna imperdiet vitae. Maecenas nulla magna, eleifend vel arcu eu, dictum ornare mauris. Duis porta sed arcu id dignissim. Praesent pellentesque, elit et volutpat lacinia, augue massa suscipit felis, in euismod dui magna sed lorem.